<section class="box-border flex gap-16 justify-between items-start px-20 pt-32 pb-72 mx-auto max-w-none bg-white h-[905px] w-[1440px] max-md:flex-col max-md:gap-10 max-md:px-10 max-md:py-16 max-md:w-full max-md:h-auto max-md:max-w-[991px] max-sm:gap-8 max-sm:px-5 max-sm:py-10 max-sm:max-w-screen-sm">
  <article class="flex flex-col gap-8 items-start h-[488px] w-[591px] max-md:w-full max-md:max-w-[600px]">
    <header class="self-stretch text-5xl leading-[72px] text-neutral-800 max-md:text-4xl max-md:leading-[52px] max-sm:text-3xl max-sm:leading-10">
      <div>Fast, Confidential &</div>
      <div class="text-indigo-500">No-Obligation</div>
    </header>

    <p class="text-lg leading-9 opacity-75 text-neutral-800 w-[554px] max-md:w-full max-md:text-base max-md:leading-7 max-sm:text-sm max-sm:leading-6">
      Our insurance verification process is designed to be quick and
      straightforward. We understand that seeking treatment is a significant
      decision, and we're here to make at least one part of that process easier.
    </p>

    <ul class="flex flex-col gap-4 items-start w-full">
      <li class="flex gap-2 items-center h-6 w-full">
        <div>
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="check-icon"
            style="width: 16px; height: 16px; flex-shrink: 0"
          >
            <path
              d="M7.06732 9.19967L5.63398 7.76634C5.51176 7.64412 5.35621 7.58301 5.16732 7.58301C4.97843 7.58301 4.82287 7.64412 4.70065 7.76634C4.57843 7.88856 4.51732 8.04412 4.51732 8.23301C4.51732 8.4219 4.57843 8.57745 4.70065 8.69967L6.60065 10.5997C6.73398 10.733 6.88954 10.7997 7.06732 10.7997C7.2451 10.7997 7.40065 10.733 7.53398 10.5997L11.3007 6.83301C11.4229 6.71079 11.484 6.55523 11.484 6.36634C11.484 6.17745 11.4229 6.0219 11.3007 5.89967C11.1784 5.77745 11.0229 5.71634 10.834 5.71634C10.6451 5.71634 10.4895 5.77745 10.3673 5.89967L7.06732 9.19967ZM8.00065 14.6663C7.07843 14.6663 6.21176 14.4913 5.40065 14.1413C4.58954 13.7913 3.88398 13.3163 3.28398 12.7163C2.68398 12.1163 2.20898 11.4108 1.85898 10.5997C1.50898 9.78856 1.33398 8.9219 1.33398 7.99967C1.33398 7.07745 1.50898 6.21079 1.85898 5.39967C2.20898 4.58856 2.68398 3.88301 3.28398 3.28301C3.88398 2.68301 4.58954 2.20801 5.40065 1.85801C6.21176 1.50801 7.07843 1.33301 8.00065 1.33301C8.92287 1.33301 9.78954 1.50801 10.6007 1.85801C11.4118 2.20801 12.1173 2.68301 12.7173 3.28301C13.3173 3.88301 13.7923 4.58856 14.1423 5.39967C14.4923 6.21079 14.6673 7.07745 14.6673 7.99967C14.6673 8.9219 14.4923 9.78856 14.1423 10.5997C13.7923 11.4108 13.3173 12.1163 12.7173 12.7163C12.1173 13.3163 11.4118 13.7913 10.6007 14.1413C9.78954 14.4913 8.92287 14.6663 8.00065 14.6663Z"
              fill="#543783"
            />
          </svg>
        </div>
        <span class="text-base leading-6 text-neutral-800">
          Most verifications are completed within 24 hours
        </span>
      </li>

      <li class="flex gap-2 items-center h-6 w-full">
        <div>
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="check-icon"
            style="width: 16px; height: 16px; flex-shrink: 0"
          >
            <path
              d="M7.06732 9.19967L5.63398 7.76634C5.51176 7.64412 5.35621 7.58301 5.16732 7.58301C4.97843 7.58301 4.82287 7.64412 4.70065 7.76634C4.57843 7.88856 4.51732 8.04412 4.51732 8.23301C4.51732 8.4219 4.57843 8.57745 4.70065 8.69967L6.60065 10.5997C6.73398 10.733 6.88954 10.7997 7.06732 10.7997C7.2451 10.7997 7.40065 10.733 7.53398 10.5997L11.3007 6.83301C11.4229 6.71079 11.484 6.55523 11.484 6.36634C11.484 6.17745 11.4229 6.0219 11.3007 5.89967C11.1784 5.77745 11.0229 5.71634 10.834 5.71634C10.6451 5.71634 10.4895 5.77745 10.3673 5.89967L7.06732 9.19967ZM8.00065 14.6663C7.07843 14.6663 6.21176 14.4913 5.40065 14.1413C4.58954 13.7913 3.88398 13.3163 3.28398 12.7163C2.68398 12.1163 2.20898 11.4108 1.85898 10.5997C1.50898 9.78856 1.33398 8.9219 1.33398 7.99967C1.33398 7.07745 1.50898 6.21079 1.85898 5.39967C2.20898 4.58856 2.68398 3.88301 3.28398 3.28301C3.88398 2.68301 4.58954 2.20801 5.40065 1.85801C6.21176 1.50801 7.07843 1.33301 8.00065 1.33301C8.92287 1.33301 9.78954 1.50801 10.6007 1.85801C11.4118 2.20801 12.1173 2.68301 12.7173 3.28301C13.3173 3.88301 13.7923 4.58856 14.1423 5.39967C14.4923 6.21079 14.6673 7.07745 14.6673 7.99967C14.6673 8.9219 14.4923 9.78856 14.1423 10.5997C13.7923 11.4108 13.3173 12.1163 12.7173 12.7163C12.1173 13.3163 11.4118 13.7913 10.6007 14.1413C9.78954 14.4913 8.92287 14.6663 8.00065 14.6663Z"
              fill="#543783"
            />
          </svg>
        </div>
        <span class="text-base leading-6 text-neutral-800">
          Your information is completely confidential and protected
        </span>
      </li>

      <li class="flex gap-2 items-center h-6 w-full">
        <div>
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="check-icon"
            style="width: 16px; height: 16px; flex-shrink: 0"
          >
            <path
              d="M7.06732 9.19967L5.63398 7.76634C5.51176 7.64412 5.35621 7.58301 5.16732 7.58301C4.97843 7.58301 4.82287 7.64412 4.70065 7.76634C4.57843 7.88856 4.51732 8.04412 4.51732 8.23301C4.51732 8.4219 4.57843 8.57745 4.70065 8.69967L6.60065 10.5997C6.73398 10.733 6.88954 10.7997 7.06732 10.7997C7.2451 10.7997 7.40065 10.733 7.53398 10.5997L11.3007 6.83301C11.4229 6.71079 11.484 6.55523 11.484 6.36634C11.484 6.17745 11.4229 6.0219 11.3007 5.89967C11.1784 5.77745 11.0229 5.71634 10.834 5.71634C10.6451 5.71634 10.4895 5.77745 10.3673 5.89967L7.06732 9.19967ZM8.00065 14.6663C7.07843 14.6663 6.21176 14.4913 5.40065 14.1413C4.58954 13.7913 3.88398 13.3163 3.28398 12.7163C2.68398 12.1163 2.20898 11.4108 1.85898 10.5997C1.50898 9.78856 1.33398 8.9219 1.33398 7.99967C1.33398 7.07745 1.50898 6.21079 1.85898 5.39967C2.20898 4.58856 2.68398 3.88301 3.28398 3.28301C3.88398 2.68301 4.58954 2.20801 5.40065 1.85801C6.21176 1.50801 7.07843 1.33301 8.00065 1.33301C8.92287 1.33301 9.78954 1.50801 10.6007 1.85801C11.4118 2.20801 12.1173 2.68301 12.7173 3.28301C13.3173 3.88301 13.7923 4.58856 14.1423 5.39967C14.4923 6.21079 14.6673 7.07745 14.6673 7.99967C14.6673 8.9219 14.4923 9.78856 14.1423 10.5997C13.7923 11.4108 13.3173 12.1163 12.7173 12.7163C12.1173 13.3163 11.4118 13.7913 10.6007 14.1413C9.78954 14.4913 8.92287 14.6663 8.00065 14.6663Z"
              fill="#543783"
            />
          </svg>
        </div>
        <span class="text-base leading-6 text-neutral-800">
          No obligation to proceed with treatment after verification
        </span>
      </li>

      <li class="flex gap-2 items-center h-6 w-full">
        <div>
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="check-icon"
            style="width: 16px; height: 16px; flex-shrink: 0"
          >
            <path
              d="M7.06732 9.19967L5.63398 7.76634C5.51176 7.64412 5.35621 7.58301 5.16732 7.58301C4.97843 7.58301 4.82287 7.64412 4.70065 7.76634C4.57843 7.88856 4.51732 8.04412 4.51732 8.23301C4.51732 8.4219 4.57843 8.57745 4.70065 8.69967L6.60065 10.5997C6.73398 10.733 6.88954 10.7997 7.06732 10.7997C7.2451 10.7997 7.40065 10.733 7.53398 10.5997L11.3007 6.83301C11.4229 6.71079 11.484 6.55523 11.484 6.36634C11.484 6.17745 11.4229 6.0219 11.3007 5.89967C11.1784 5.77745 11.0229 5.71634 10.834 5.71634C10.6451 5.71634 10.4895 5.77745 10.3673 5.89967L7.06732 9.19967ZM8.00065 14.6663C7.07843 14.6663 6.21176 14.4913 5.40065 14.1413C4.58954 13.7913 3.88398 13.3163 3.28398 12.7163C2.68398 12.1163 2.20898 11.4108 1.85898 10.5997C1.50898 9.78856 1.33398 8.9219 1.33398 7.99967C1.33398 7.07745 1.50898 6.21079 1.85898 5.39967C2.20898 4.58856 2.68398 3.88301 3.28398 3.28301C3.88398 2.68301 4.58954 2.20801 5.40065 1.85801C6.21176 1.50801 7.07843 1.33301 8.00065 1.33301C8.92287 1.33301 9.78954 1.50801 10.6007 1.85801C11.4118 2.20801 12.1173 2.68301 12.7173 3.28301C13.3173 3.88301 13.7923 4.58856 14.1423 5.39967C14.4923 6.21079 14.6673 7.07745 14.6673 7.99967C14.6673 8.9219 14.4923 9.78856 14.1423 10.5997C13.7923 11.4108 13.3173 12.1163 12.7173 12.7163C12.1173 13.3163 11.4118 13.7913 10.6007 14.1413C9.78954 14.4913 8.92287 14.6663 8.00065 14.6663Z"
              fill="#543783"
            />
          </svg>
        </div>
        <span class="text-base leading-6 text-neutral-800">
          We advocate for maximum coverage on your behalf
        </span>
      </li>
    </ul>
  </article>

  <aside class="shrink-0 mt-12 h-[386px] w-[668px] max-md:w-full max-md:max-w-[600px]">
    <div class="box-border flex flex-col gap-2.5 items-center px-8 py-10 bg-indigo-500 rounded-3xl h-[386px] w-full max-md:px-6 max-md:py-8 max-md:w-full max-sm:px-4 max-sm:py-6">
      <div class="flex flex-col gap-6 items-center w-full px-20">
        <h2 class="self-stretch text-4xl text-center text-white leading-[54px] max-md:text-3xl max-md:leading-10 max-sm:text-2xl max-sm:leading-9">
          Need Immediate <br/>Assistance?
        </h2>

        <p class=" text-lg leading-7 text-center text-white opacity-75 mb-6 max-sm:text-base max-sm:leading-7">
          Our admissions team is available 24/7 to help you verify your <br/>
          insurance benefits right now.
        </p>

        <div class="flex gap-3 items-center w-full max-md:flex-col max-md:gap-4 max-md:w-full">
          <button class="gap-2.5 px-8 py-4 text-lg font-medium leading-6 bg-amber-300 cursor-pointer flex-1 rounded-[50px] text-neutral-800 text-center max-md:w-full max-sm:px-5 max-sm:py-3.5 max-sm:text-base">
            Get Started
          </button>

          <div class="flex flex-col items-center px-5 py-3.5 bg-purple-900 cursor-pointer flex-1 rounded-[50px] max-md:w-full">
            <span class="text-[11px] text-white max-sm:text-[10px]">
              Have a question?
            </span>
            <span class="text-base font-medium text-white max-sm:text-sm">
              Call (123) 456-7890
            </span>
          </div>
        </div>
      </div>
    </div>
  </aside>
</section>
