<section class="box-border flex relative shrink-0 gap-52 justify-center items-center pt-8 pr-8 pb-8 pl-8 bg-indigo-500 rounded-3xl h-[462px] w-[1320px] max-md:flex-col max-md:gap-8 max-md:p-6 max-md:w-full max-md:max-w-screen-md max-md:h-auto max-sm:gap-6 max-sm:p-4">
  <article class="flex flex-col shrink-0 gap-6 items-start w-[570px] max-md:w-full max-md:max-w-[500px]">
    <h2 class="self-stretch text-4xl font-medium text-white leading-[61px] max-md:text-3xl max-md:leading-10 max-md:text-center max-sm:text-3xl max-sm:leading-10">
      Payment Options
    </h2>
    <ul class="flex flex-col gap-4 items-start w-[261.5px] max-md:self-center max-md:w-full max-md:max-w-[400px] max-sm:gap-3">
      <li class="flex gap-2 items-center self-stretch h-6 max-sm:h-5">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="check-icon" style="width: 16px; height: 16px; aspect-ratio: 1/1">
          <path d="M7.06634 9.35568L5.63301 7.92235C5.51079 7.80012 5.35523 7.73901 5.16634 7.73901C4.97745 7.73901 4.8219 7.80012 4.69967 7.92235C4.57745 8.04457 4.51634 8.20012 4.51634 8.38901C4.51634 8.5779 4.57745 8.73346 4.69967 8.85568L6.59967 10.7557C6.73301 10.889 6.88856 10.9557 7.06634 10.9557C7.24412 10.9557 7.39967 10.889 7.53301 10.7557L11.2997 6.98901C11.4219 6.86679 11.483 6.71124 11.483 6.52235C11.483 6.33346 11.4219 6.1779 11.2997 6.05568C11.1775 5.93346 11.0219 5.87235 10.833 5.87235C10.6441 5.87235 10.4886 5.93346 10.3663 6.05568L7.06634 9.35568ZM7.99967 14.8223C7.07745 14.8223 6.21079 14.6473 5.39967 14.2973C4.58856 13.9473 3.88301 13.4723 3.28301 12.8723C2.68301 12.2723 2.20801 11.5668 1.85801 10.7557C1.50801 9.94457 1.33301 9.0779 1.33301 8.15568C1.33301 7.23346 1.50801 6.36679 1.85801 5.55568C2.20801 4.74457 2.68301 4.03901 3.28301 3.43901C3.88301 2.83901 4.58856 2.36401 5.39967 2.01401C6.21079 1.66401 7.07745 1.48901 7.99967 1.48901C8.9219 1.48901 9.78856 1.66401 10.5997 2.01401C11.4108 2.36401 12.1163 2.83901 12.7163 3.43901C13.3163 4.03901 13.7913 4.74457 14.1413 5.55568C14.4913 6.36679 14.6663 7.23346 14.6663 8.15568C14.6663 9.0779 14.4913 9.94457 14.1413 10.7557C13.7913 11.5668 13.3163 12.2723 12.7163 12.8723C12.1163 13.4723 11.4108 13.9473 10.5997 14.2973C9.78856 14.6473 8.9219 14.8223 7.99967 14.8223Z" fill="white"></path>
        </svg>
        <span class="text-base leading-6 text-white max-sm:text-sm max-sm:leading-5">
          Major insurance plans
        </span>
      </li>
      <li class="flex gap-2 items-center self-stretch h-6 max-sm:h-5">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="check-icon" style="width: 16px; height: 16px; aspect-ratio: 1/1">
          <path d="M7.06634 9.35568L5.63301 7.92235C5.51079 7.80012 5.35523 7.73901 5.16634 7.73901C4.97745 7.73901 4.8219 7.80012 4.69967 7.92235C4.57745 8.04457 4.51634 8.20012 4.51634 8.38901C4.51634 8.5779 4.57745 8.73346 4.69967 8.85568L6.59967 10.7557C6.73301 10.889 6.88856 10.9557 7.06634 10.9557C7.24412 10.9557 7.39967 10.889 7.53301 10.7557L11.2997 6.98901C11.4219 6.86679 11.483 6.71124 11.483 6.52235C11.483 6.33346 11.4219 6.1779 11.2997 6.05568C11.1775 5.93346 11.0219 5.87235 10.833 5.87235C10.6441 5.87235 10.4886 5.93346 10.3663 6.05568L7.06634 9.35568ZM7.99967 14.8223C7.07745 14.8223 6.21079 14.6473 5.39967 14.2973C4.58856 13.9473 3.88301 13.4723 3.28301 12.8723C2.68301 12.2723 2.20801 11.5668 1.85801 10.7557C1.50801 9.94457 1.33301 9.0779 1.33301 8.15568C1.33301 7.23346 1.50801 6.36679 1.85801 5.55568C2.20801 4.74457 2.68301 4.03901 3.28301 3.43901C3.88301 2.83901 4.58856 2.36401 5.39967 2.01401C6.21079 1.66401 7.07745 1.48901 7.99967 1.48901C8.9219 1.48901 9.78856 1.66401 10.5997 2.01401C11.4108 2.36401 12.1163 2.83901 12.7163 3.43901C13.3163 4.03901 13.7913 4.74457 14.1413 5.55568C14.4913 6.36679 14.6663 7.23346 14.6663 8.15568C14.6663 9.0779 14.4913 9.94457 14.1413 10.7557C13.7913 11.5668 13.3163 12.2723 12.7163 12.8723C12.1163 13.4723 11.4108 13.9473 10.5997 14.2973C9.78856 14.6473 8.9219 14.8223 7.99967 14.8223Z" fill="white"></path>
        </svg>
        <span class="text-base leading-6 text-white max-sm:text-sm max-sm:leading-5">
          Credit cards
        </span>
      </li>
      <li class="flex gap-2 items-center self-stretch h-6 max-sm:h-5">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="check-icon" style="width: 16px; height: 16px; aspect-ratio: 1/1">
          <path d="M7.06634 9.35568L5.63301 7.92235C5.51079 7.80012 5.35523 7.73901 5.16634 7.73901C4.97745 7.73901 4.8219 7.80012 4.69967 7.92235C4.57745 8.04457 4.51634 8.20012 4.51634 8.38901C4.51634 8.5779 4.57745 8.73346 4.69967 8.85568L6.59967 10.7557C6.73301 10.889 6.88856 10.9557 7.06634 10.9557C7.24412 10.9557 7.39967 10.889 7.53301 10.7557L11.2997 6.98901C11.4219 6.86679 11.483 6.71124 11.483 6.52235C11.483 6.33346 11.4219 6.1779 11.2997 6.05568C11.1775 5.93346 11.0219 5.87235 10.833 5.87235C10.6441 5.87235 10.4886 5.93346 10.3663 6.05568L7.06634 9.35568ZM7.99967 14.8223C7.07745 14.8223 6.21079 14.6473 5.39967 14.2973C4.58856 13.9473 3.88301 13.4723 3.28301 12.8723C2.68301 12.2723 2.20801 11.5668 1.85801 10.7557C1.50801 9.94457 1.33301 9.0779 1.33301 8.15568C1.33301 7.23346 1.50801 6.36679 1.85801 5.55568C2.20801 4.74457 2.68301 4.03901 3.28301 3.43901C3.88301 2.83901 4.58856 2.36401 5.39967 2.01401C6.21079 1.66401 7.07745 1.48901 7.99967 1.48901C8.9219 1.48901 9.78856 1.66401 10.5997 2.01401C11.4108 2.36401 12.1163 2.83901 12.7163 3.43901C13.3163 4.03901 13.7913 4.74457 14.1413 5.55568C14.4913 6.36679 14.6663 7.23346 14.6663 8.15568C14.6663 9.0779 14.4913 9.94457 14.1413 10.7557C13.7913 11.5668 13.3163 12.2723 12.7163 12.8723C12.1163 13.4723 11.4108 13.9473 10.5997 14.2973C9.78856 14.6473 8.9219 14.8223 7.99967 14.8223Z" fill="white"></path>
        </svg>
        <span class="text-base leading-6 text-white max-sm:text-sm max-sm:leading-5">
          Flexible spending accounts (FSA)
        </span>
      </li>
      <li class="flex gap-2 items-center self-stretch h-6 max-sm:h-5">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="check-icon" style="width: 16px; height: 16px; aspect-ratio: 1/1">
          <path d="M7.06634 9.35568L5.63301 7.92235C5.51079 7.80012 5.35523 7.73901 5.16634 7.73901C4.97745 7.73901 4.8219 7.80012 4.69967 7.92235C4.57745 8.04457 4.51634 8.20012 4.51634 8.38901C4.51634 8.5779 4.57745 8.73346 4.69967 8.85568L6.59967 10.7557C6.73301 10.889 6.88856 10.9557 7.06634 10.9557C7.24412 10.9557 7.39967 10.889 7.53301 10.7557L11.2997 6.98901C11.4219 6.86679 11.483 6.71124 11.483 6.52235C11.483 6.33346 11.4219 6.1779 11.2997 6.05568C11.1775 5.93346 11.0219 5.87235 10.833 5.87235C10.6441 5.87235 10.4886 5.93346 10.3663 6.05568L7.06634 9.35568ZM7.99967 14.8223C7.07745 14.8223 6.21079 14.6473 5.39967 14.2973C4.58856 13.9473 3.88301 13.4723 3.28301 12.8723C2.68301 12.2723 2.20801 11.5668 1.85801 10.7557C1.50801 9.94457 1.33301 9.0779 1.33301 8.15568C1.33301 7.23346 1.50801 6.36679 1.85801 5.55568C2.20801 4.74457 2.68301 4.03901 3.28301 3.43901C3.88301 2.83901 4.58856 2.36401 5.39967 2.01401C6.21079 1.66401 7.07745 1.48901 7.99967 1.48901C8.9219 1.48901 9.78856 1.66401 10.5997 2.01401C11.4108 2.36401 12.1163 2.83901 12.7163 3.43901C13.3163 4.03901 13.7913 4.74457 14.1413 5.55568C14.4913 6.36679 14.6663 7.23346 14.6663 8.15568C14.6663 9.0779 14.4913 9.94457 14.1413 10.7557C13.7913 11.5668 13.3163 12.2723 12.7163 12.8723C12.1163 13.4723 11.4108 13.9473 10.5997 14.2973C9.78856 14.6473 8.9219 14.8223 7.99967 14.8223Z" fill="white"></path>
        </svg>
        <span class="text-base leading-6 text-white max-sm:text-sm max-sm:leading-5">
          Health savings accounts (HSA)
        </span>
      </li>
      <li class="flex gap-2 items-center self-stretch h-6 max-sm:h-5">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="check-icon" style="width: 16px; height: 16px; aspect-ratio: 1/1">
          <path d="M7.06634 9.35568L5.63301 7.92235C5.51079 7.80012 5.35523 7.73901 5.16634 7.73901C4.97745 7.73901 4.8219 7.80012 4.69967 7.92235C4.57745 8.04457 4.51634 8.20012 4.51634 8.38901C4.51634 8.5779 4.57745 8.73346 4.69967 8.85568L6.59967 10.7557C6.73301 10.889 6.88856 10.9557 7.06634 10.9557C7.24412 10.9557 7.39967 10.889 7.53301 10.7557L11.2997 6.98901C11.4219 6.86679 11.483 6.71124 11.483 6.52235C11.483 6.33346 11.4219 6.1779 11.2997 6.05568C11.1775 5.93346 11.0219 5.87235 10.833 5.87235C10.6441 5.87235 10.4886 5.93346 10.3663 6.05568L7.06634 9.35568ZM7.99967 14.8223C7.07745 14.8223 6.21079 14.6473 5.39967 14.2973C4.58856 13.9473 3.88301 13.4723 3.28301 12.8723C2.68301 12.2723 2.20801 11.5668 1.85801 10.7557C1.50801 9.94457 1.33301 9.0779 1.33301 8.15568C1.33301 7.23346 1.50801 6.36679 1.85801 5.55568C2.20801 4.74457 2.68301 4.03901 3.28301 3.43901C3.88301 2.83901 4.58856 2.36401 5.39967 2.01401C6.21079 1.66401 7.07745 1.48901 7.99967 1.48901C8.9219 1.48901 9.78856 1.66401 10.5997 2.01401C11.4108 2.36401 12.1163 2.83901 12.7163 3.43901C13.3163 4.03901 13.7913 4.74457 14.1413 5.55568C14.4913 6.36679 14.6663 7.23346 14.6663 8.15568C14.6663 9.0779 14.4913 9.94457 14.1413 10.7557C13.7913 11.5668 13.3163 12.2723 12.7163 12.8723C12.1163 13.4723 11.4108 13.9473 10.5997 14.2973C9.78856 14.6473 8.9219 14.8223 7.99967 14.8223Z" fill="white"></path>
        </svg>
        <span class="text-base leading-6 text-white max-sm:text-sm max-sm:leading-5">
          Payment plans for qualifying patients
        </span>
      </li>
    </ul>
    <a href="#contact" class="self-stretch text-lg leading-9 underline opacity-75 text-white text-opacity-80 max-md:text-base max-md:leading-7 max-md:text-center max-sm:text-sm max-sm:leading-6">
      Contact Us to discuss pricing and payment options.
    </a>
  </article>

  <figure class="relative shrink-0 h-[397px] w-[485px] max-md:self-center max-md:w-full max-md:h-[300px] max-md:max-w-[400px] max-sm:h-[250px]">
    <div class="inline-flex absolute top-0 left-0 justify-end items-center pt-4 pr-0 pb-12 pl-4 bg-white rounded-3xl h-[397px] w-[485px] max-md:size-full">
      <div class="absolute top-4 left-4 rounded-3xl shadow-2xl bg-white bg-opacity-0 h-[330px] w-[641px]"></div>
    </div>
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/2b735d314eeea6d11b30889bd1ca0693ff08eff4?placeholderIfAbsent=true"
      alt="Person with arms raised in a field of yellow flowers"
      class="object-cover absolute left-4 shrink-0 rounded-3xl h-[361px] top-[18px] w-[453px] max-md:h-[calc(100%_-_36px)] max-md:w-[calc(100%_-_32px)]"
    />
  </figure>
</section>
